
{% extends "base.html" %}
{%load static %}
{% block content %}
	
<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<style>
	.container{
    padding: 7px;
    background-color: ;
    border: 5px solid black;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 614px;
    height:auto;
</style>
<body><div class="container">
<p><blink></blink>Welcome to 7Star</p>
</div>
</body>
</html>
<body>

	{% endblock %}	