
{% extends "base.html" %}

{% block content %}
{% load static %}
<!DOCTYPE html>  
<html>  
<head> 
	<!-- Bootstrap -->
  	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
  <!-- Custom -->
	<link rel="stylesheet" href="{% static 'css/style.css' %}">

	<meta name="viewport" content="width=device-width, initial-scale=1">  

</head>
<style type="text/css">
	
	.container{
		width:100%;
	}
</style>
<body>

<div class="container">
	<h3>Contact Us</h3>
	
	<hr>
	<div class="dragArea row">
		<div class="col-md-4 form-group" data-for="email">
			<label for="email-form1-f" class="form-control-label mbr-fonts-style display-7">Name</label>
			<input type="name" name="name" data-form-field="Name" required="required" class="form-control display-7" value="" id="email-form1-f">
		</div>
		<div class="col-md-4 form-group" data-for="email">
			<label for="email-form1-f" class="form-control-label mbr-fonts-style display-7">Email</label>
			<input type="email" name="email" data-form-field="Email" required="required" class="form-control display-7" value="" id="email-form1-f">
		</div>
		<div data-for="phone" class="col-md-4 form-group">
			<label for="phone-form1-f" class="form-control-label mbr-fonts-style display-7">Phone</label>
			<input type="tel" name="phone" data-form-field="Phone" class="form-control display-7" value="" id="phone-form1-f">
		</div>
		<div data-for="message" class="col-md-12 form-group">
			<label for="message-form1-f" class="form-control-label mbr-fonts-style display-7">Message</label>
			<textarea name="message" data-form-field="Message" class="form-control display-7" id="message-form1-f"></textarea>
		</div>
		
		<center>
	    <div class="col-md-12 input-group-btn align-center">
		  <center>
			<button type="submit" class="btn btn-form btn-info display-7">Submit</button>
			 <button type="reset" class="btn btn-danger btn-form btn-info display-7">Clear</button></center></div>
        </div>
</body>  

</html>  

	
	{% endblock %}	