
{% extends "base.html" %}
{% load static %}
{% block content %}


<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

</head>
<body>
  <form action= "{% url 'myregister' %}" method='POST'}
  {% csrf_token %}
  {% include 'partials/_alert.html' %}
  <div class="container">
    <h1>Register</h1>
    <p>Please fill in this form to create an account.</p>
    <hr>

    <label>Username:</label>
    <input type="text"  name="username" id="username" required>
    
    <label>Email:</label>
    <input type="text" class="form-control" name="email" id="email" required>

     
    <label>Password:</label>
    <input type="password" class="form-control" name="password" id="password" required>
      
    <label>Confirm Password:</label>
    <input type="password" class="form-control" name="psw_repeat" id="psw_repeat" required>
    <pre> <button type="submit" class="btn btn-success">Register</button> <button type="reset" class="btn btn-success">Cancel</button>
      <span class="psw"><br>Already Have a account<br> please log in here.. <a href="{% url 'mylogin' %}">Log in?</a></span>
    </div>
  </div>
</form>
</body>
</html>



{% endblock %}  

